extends ../shared/template

block content
  h1 Users

  #users
    table
      thead
        tr
          th Username
          th High Score
      tbody
        if locals.user
          tr
            td(style='color: #{locals.user.color} !important;')= locals.user.username 
            td= locals.user.highScore
        each u in users
          tr
            //- td: a(href='/users/#{u._id}' style='color: #{u.color} !important;')= u.username 
            td(style='color: #{u.color} !important;')= u.username 
            td= u.highScore